:root {
  --bar-height: 10px;
  --rounded_corners: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  margin: 0 0 10px 0;
}


.site-header {
  background-color: rgb(4, 3, 37);
  color: #FFF;
  padding: 20px;
}

.site-title {
  margin: 0;
}

.site-content {
  flex: 1;
}
.site-content__grid {
  display: grid;
  grid-template-areas: ". main sidebar .";
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 30px;
  padding: 50px;
  align-items: flex-start; /* Prevent items from taking full height */
}


/* Leaderboard */
.leaderboard {
  grid-area: main;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1),0 0 32px 0 rgba(0,0,0,.14);
  border-radius: var(--rounded_corners);
}

.leaderboard h2 {
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  padding: 10px;
}

.leaderboard__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  border-bottom: 1px solid #e0e0e0;
}
.position {
  background-color: #eee;
  color: #585858;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  padding: 10px;
  display: grid;
  grid-template-areas: "avatar name steps"
  "avatar progress progress";
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: 1fr calc(var(--bar-height) + 10px);
  gap: 10px;
}

.avatar {
  grid-area: avatar;
  display: flex;
  align-items: center;
}
.avatar__image {
  border-radius: 50%;
  background-color: gray;
  height: 60px;
  width: 60px;
}

.name {
  grid-area: name;
  margin: 0;
  align-self: center;
}
.steps {
  grid-area: steps;
  text-align: right;
}
.steps__value {
  font-weight: 700;
  font-size: 26px;
}
.steps__label {
  text-transform: uppercase;
}

.progress {
  grid-area: progress;
  height: var(--bar-height);
  background-color: #eee;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--bar-height);
  background-color: #f07171;
}
.progress__bar--full {
  background-color: rgb(81, 154, 253);
}

/* Stats List */
.sidebar {
  grid-area: sidebar;
}

.stats {
  background-color: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1),0 0 32px 0 rgba(0,0,0,.14);
  border-radius: var(--rounded_corners);
  margin-bottom: 20px;
}
.stats h2 {
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  padding: 10px;
}
.stats__body {
  padding: 20px;
}


.stats .label {
  font-size: 26px;
  color: #6e6e6e;
}
.stats__list {
  padding: 0;
  margin-top: 0;
  font-size: 32px;
}
.stats__item {
  list-style: none;
}

.color_1 {
  color: rgb(235, 95, 60);
}
.color_2 {
  color: rgb(81, 154, 253);
}
.color_3 {
  color: rgb(238, 172, 74);
}


.box {
  border-radius: var(--rounded_corners);
  background-color: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1),0 0 32px 0 rgba(0,0,0,.14);
}
.box__title {
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  padding: 10px;
}
.box__body {
  padding: 20px;
}


.catch-leader {
  grid-area: sidebar;
}


.site-footer {
  display: flex;
  justify-content: center;
}


.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-item__label {
  margin-bottom: 5px;
}
.form-item__input {
  border: 3px solid #888;
  font-size: 18px;
  font-family: inherit;
  padding: 5px;
  border-radius: 2px;
}
.form-item__input:focus {
  border-color: #111;
  outline: none;
}
.form-submit {
  border: 3px solid #111;
  border-radius: 2px;
  background-color: #FFF;
  font-size: 18px;
  padding: 5px 10px;
  font-family: inherit;
}