<footer class="site-footer">
  <nav>
    <a href="{{ path('index') }}">Hjem</a>
    <a href="{{ path('page', {slug: 'help'}) }}">Hjelp</a>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('logout') }}">Logg ut</a>
    {% endif %}
  </nav>
</footer>