<div class="message message--info">
  <p>Du har ingen skritt enda, har du fått satt opp synkronisering?</p>
  <p>Les den <a href="{{ path('help') }}">lille hjelpeartikkelen</a> eller spør i Slack-kanalen.</p>
</div>