{% extends 'base.html.twig' %}

{# We don't want header and footer on login screen. #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
<div class="login">
  <div class="login__info">
    <h1 class="page-title">Skrittkonkurransen 2021</h1>

    <p>Koble til med Google og synkroniser dine skritt med Google Fit for å delta i konkurransen. Konkurransen varer ut oktober og det er Sunn & Frisk-poeng å hente!</p>

    <p>Etter at du har logget inn synkroniseres skritt daglig uten at du trenger å gjøre noe.</p>


    {% if show_login %}
      <a class="button button--cta" href="{{login_url}}">Logg inn med Google</a>
    {% endif %}

    {{ include('footer.html.twig') }}
  </div>
  <div class="login__image"></div>
</div>
{% endblock %}