{% extends 'base.html.twig' %}

{% block body %}
  <div class="page-wrapper">
    <h1>{{title}}</h1>

    <div>
      {% apply markdown_to_html %}
      {{content}}
      {% endapply %}
    </div>
  </div>
{% endblock %}