<section class="stats">
  <h2>Stats</h2>
  <div class="stats__body">
    <ul class="stats__list">
      <li class="stats__item"><span class="color_1">{{total_steps|default(0)}}</span> <span class="label">skritt</span></li>
      <li class="stats__item"><span class="color_2">{{total_distance|default(0)}}</span> <span class="label">km</span></li>
    </ul>
  </div>
</section>